/* Font color */
h1 a, h2 a {
    /* color: #c25100; */
    color: #4169e1;
}
/* body padding */
body {
    padding-left: 15px;
    /* font-family: 'Amiri'; */
    font-family: 'Cormorant Garamond';
}